.yarnrc
vsc-extension-quickstart.md
webpack.config.js
tools/
.secrets
cliff.toml

.mocharc.js
.changes
.changie.yaml
.editorconfig
.eslint.config.mjs
.gitattributes
.github
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc
.vscode
.vscode-test
.vscode-test-web
.vscode-test.mjs
.vscode-uitest.mjs
.vscodeignore
.wdio-vscode-service
.test-storage
.test-extensions
**/__mocks__
build/
DEVELOPMENT.md
CONFIGURATION.md
CONTRIBUTING.md
docs/
node_modules/
ROADMAP.md
src/
out/
esbuild.mjs
eslint.config.mjs
tsconfig.json
esbuild.mjs
eslint.config.mjs

reports/**

res/assets/images/docs/**

.tasksignore

sample/**
.github/

**/tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

*.sln
scripts/**
.actrc
changelog.yml
.chglog.yml
