---
---

@use 'sass:color';

@import 'color_schemes/dracula';

// ── Global link styles ────────────────────────────────────────────────────────

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

// ── Partials ──────────────────────────────────────────────────────────────────

@import 'bootstrap-overrides';
@import 'code';
@import 'syntax';
@import 'layout';
@import 'components';
